@model Blogorama.Models.Entities.User

<div>
    <form  id="signupForm" method="post">
        <div class="mt-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" asp-for="Name" required/>
        </div>

         <div class="mt-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="Email" required/>
        </div>

         <div class="mt-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password" id="password1" required/>
        </div>

        <div class="mt-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" id="password2" required/>
        </div>

        <div class="mt-3">
             <button type="submit" class="btn btn-primary">Sign up</button>
        </div>

    </form>
</div>

<script>
    
    document.getElementById("signupForm").addEventListener("submit",function checkPassword(e){
        const password1 = document.getElementById("password1").value;
        const password2 = document.getElementById("password2").value;
        console.log("?")
        if(password1 !== password2){
            event.preventDefault();

            alert("Passwords do not match. please try again!")
            document.getElementById("password1").value ="";
            document.getElementById("password2").value ="";
        }
    })
</script>